.intro {
  display: flex;

  position: relative;
  overflow: hidden;

  height: 18.75rem;

  background-color: #FFF1B8;

  &__img {
    display: block;
    position: absolute;

    width: 70%;
    top: -80%;
    right: -15%;

    z-index: 1;

    @include media-breakpoint-only('lg') {
      top: -60%;
      right: -15%;
    }
    @include media-breakpoint-only('md') {
      width: 60%;
      top: -10%;
      right: -25%;
    }
    @include media-breakpoint-only('sm') {
      top: auto;

      width: 75%;
      bottom: -20%;
      right: -35%;
    }

    @include media-breakpoint-only('xs') {
      top: auto;

      width: 400px;
      bottom: -65px;
      right: -180px;
    }

    @media (max-width: 430px) {
      bottom: -80px;
      right: -230px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 4.43rem;

    z-index: 2;

    &-title {
      font-family: $roboto;
      font-weight: 700;
      font-size: 2.437rem;
      line-height: 1.2;
      margin-bottom: .75rem;

      @include media-breakpoint-only('sm') {
        font-size: 2rem;
      }

      @include media-breakpoint-only('xs') {
        font-size: 1.3rem;
      }
    }
    &-subtitle {
      font-family: $roboto;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.15;

      @include media-breakpoint-only('sm') {
        font-size: 1.2rem;
      }
      @include media-breakpoint-only('xs') {
        font-size: 1rem;
      }
    }

    
    @media (max-width: 430px) {
      max-width: 65%;
    }


  }
  @include media-breakpoint-down('sm') {
    padding-left: 1rem;
  }
}