<footer class="footer">
    <div class="container">
        <div class="footer__wrap row">
            <div class="col-md-2 col-6">
                {{> logo }}
            </div>
            <div class="footer__nav col-md-7 col-12 justify-content-center justify-content-md-start order-last">
                <a href="#" class="footer__nav-link">Ресторанам</a>
                <a href="#" class="footer__nav-link">Курьерам</a>
                <a href="#" class="footer__nav-link">Пресс-центр</a>
                <a href="#" class="footer__nav-link">Контакты</a>
            </div>
            <div class="footer__social col-md-3 col-6">
                <a href="#" class="footer__social-link">
                    <svg class="footer__social-icon">
                        <use xlink:href="#social-inst"></use>
                    </svg>
                </a>
                <a href="#" class="footer__social-link">
                    <svg class="footer__social-icon">
                        <use xlink:href="#social-fb"></use>
                    </svg>
                </a>
                <a href="#" class="footer__social-link">
                    <svg class="footer__social-icon">
                        <use xlink:href="#social-vk"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>