<!--=== Restaurants section ===-->
<section class="restaurants">

    <div class="restaurants__heading row">
        <h1 class="restaurants__heading-title col-6 col-sm-5 col-md-4">Рестораны</h1>
        <div class="col-6 col-sm-7 col-md-5 col-lg-4">
            <form class="form" action="#">
                <svg class="form__icon">
                    <use xlink:href="#form-search"></use>
                </svg>
                <input class="form__input form__input--rest" type="text" placeholder="Поиск блюд и ресторанов">
            </form>
        </div>
    </div>

    <div class="restaurants__content">
        <!--=== Restaurant item ===-->
        <a class="restaurant" href="/tanuki.html">
            <img class="restaurant__img" src="assets/img/rest-1.jpg" />
            <div class="restaurant__desc">
                <div class="restaurant__desc-heading">
                    <h2 class="restaurant__desc-heading-name">Пицца плюс</h2>
                    <span class="restaurant__desc-heading-time">50 мин</span>
                </div>
                <div class="restaurant__desc-content">
                    <div class="restaurant__desc-content-rating">
                        <svg class="restaurant__desc-content-rating-icon">
                            <use xlink:href="#restaurant-rating"></use>
                        </svg>
                        <span>4.5</span>
                    </div>
                    <span class="restaurant__desc-content-price">От 900 ₽</span>
                    <span class="restaurant__desc-content-cuisine">Пицца</span>
                </div>
            </div>
        </a>
        <!--=== Restaurant item ===-->
        <a class="restaurant" href="/tanuki.html">
            <img class="restaurant__img" src="assets/img/rest-2.png" />
            <div class="restaurant__desc">
                <div class="restaurant__desc-heading">
                    <h2 class="restaurant__desc-heading-name">Тануки</h2>
                    <span class="restaurant__desc-heading-time">50 мин</span>
                </div>
                <div class="restaurant__desc-content">
                    <div class="restaurant__desc-content-rating">
                        <svg class="restaurant__desc-content-rating-icon">
                            <use xlink:href="#restaurant-rating"></use>
                        </svg>
                        <span>4.5</span>
                    </div>
                    <span class="restaurant__desc-content-price">От 900 ₽</span>
                    <span class="restaurant__desc-content-cuisine">Пицца</span>
                </div>
            </div>
        </a>
        <!--=== Restaurant item ===-->
        <a class="restaurant" href="/tanuki.html">
            <img class="restaurant__img" src="assets/img/rest-3.png" />
            <div class="restaurant__desc">
                <div class="restaurant__desc-heading">
                    <h2 class="restaurant__desc-heading-name">FoodBand</h2>
                    <span class="restaurant__desc-heading-time">50 мин</span>
                </div>
                <div class="restaurant__desc-content">
                    <div class="restaurant__desc-content-rating">
                        <svg class="restaurant__desc-content-rating-icon">
                            <use xlink:href="#restaurant-rating"></use>
                        </svg>
                        <span>4.5</span>
                    </div>
                    <span class="restaurant__desc-content-price">От 900 ₽</span>
                    <span class="restaurant__desc-content-cuisine">Пицца</span>
                </div>
            </div>
        </a>
        <!--=== Restaurant item ===-->
        <a class="restaurant" href="/tanuki.html">
            <img class="restaurant__img" src="assets/img/rest-4.png" />
            <div class="restaurant__desc">
                <div class="restaurant__desc-heading">
                    <h2 class="restaurant__desc-heading-name">Жадина-пицца</h2>
                    <span class="restaurant__desc-heading-time">50 мин</span>
                </div>
                <div class="restaurant__desc-content">
                    <div class="restaurant__desc-content-rating">
                        <svg class="restaurant__desc-content-rating-icon">
                            <use xlink:href="#restaurant-rating"></use>
                        </svg>
                        <span>4.5</span>
                    </div>
                    <span class="restaurant__desc-content-price">От 900 ₽</span>
                    <span class="restaurant__desc-content-cuisine">Пицца</span>
                </div>
            </div>
        </a>
        <!--=== Restaurant item ===-->
        <a class="restaurant" href="/tanuki.html">
            <img class="restaurant__img" src="assets/img/rest-5.png" />
            <div class="restaurant__desc">
                <div class="restaurant__desc-heading">
                    <h2 class="restaurant__desc-heading-name">Точка еды</h2>
                    <span class="restaurant__desc-heading-time">50 мин</span>
                </div>
                <div class="restaurant__desc-content">
                    <div class="restaurant__desc-content-rating">
                        <svg class="restaurant__desc-content-rating-icon">
                            <use xlink:href="#restaurant-rating"></use>
                        </svg>
                        <span>4.5</span>
                    </div>
                    <span class="restaurant__desc-content-price">От 900 ₽</span>
                    <span class="restaurant__desc-content-cuisine">Пицца</span>
                </div>
            </div>
        </a>
        <!--=== Restaurant item ===-->
        <a class="restaurant" href="/tanuki.html">
            <img class="restaurant__img" src="assets/img/rest-6.png" />
            <div class="restaurant__desc">
                <div class="restaurant__desc-heading">
                    <h2 class="restaurant__desc-heading-name">PizzaBurger</h2>
                    <span class="restaurant__desc-heading-time">50 мин</span>
                </div>
                <div class="restaurant__desc-content">
                    <div class="restaurant__desc-content-rating">
                        <svg class="restaurant__desc-content-rating-icon">
                            <use xlink:href="#restaurant-rating"></use>
                        </svg>
                        <span>4.5</span>
                    </div>
                    <span class="restaurant__desc-content-price">От 900 ₽</span>
                    <span class="restaurant__desc-content-cuisine">Пицца</span>
                </div>
            </div>
        </a>
    </div>
</section>
