<section class="shop">
    <div class="shop__heading">
        <h2 class="shop__heading-title">
            Тануки
        </h2>
        <div class="restaurant__desc-content-rating">
            <svg class="restaurant__desc-content-rating-icon">
                <use xlink:href="#restaurant-rating"></use>
            </svg>
            <span>4.5</span>
        </div>
        <span class="restaurant__desc-content-price">От 900 ₽</span>
        <span class="restaurant__desc-content-cuisine">Пицца и суши</span>
    </div>
    <div class="products">

        <!--=== Product ===-->
        <div class="product">
            <img src="assets/img/prod-1.png" alt="" class="product__img">
            <div class="product__content">
                <div class="product__title">
                    Ролл угорь стандарт
                </div>
                <div class="product__desc">
                    Рис, угорь, соус унаги, кунжут, водоросли нори.
                </div>
                <div class="product__footer">
                    <button class="btn --blue --prod">
                        <span class="btn__text">В корзину</span>
                        <svg class="btn__icon">
                            <use xlink:href="#btn-cart"></use>
                        </svg>
                    </button>
                    <span class="product__footer-price">250 ₽</span>
                </div>
            </div>
        </div>

        <!--=== Product ===-->
        <div class="product">
            <img src="assets/img/prod-2.png" alt="" class="product__img">
            <div class="product__content">
                <div class="product__title">
                    Калифорния лосось стандарт
                </div>
                <div class="product__desc">
                    Рис, лосось, авокадо, огурец, майонез, икра масаго, водоросли нори.
                </div>
                <div class="product__footer">
                    <button class="btn --blue --prod">
                        <span class="btn__text">В корзину</span>
                        <svg class="btn__icon">
                            <use xlink:href="#btn-cart"></use>
                        </svg>
                    </button>
                    <span class="product__footer-price">395 ₽</span>
                </div>
            </div>
        </div>

        <!--=== Product ===-->
        <div class="product">
            <img src="assets/img/prod-3.png" alt="" class="product__img">
            <div class="product__content">
                <div class="product__title">
                    Окинава стандарт
                </div>
                <div class="product__desc">
                    Рис, креветка отварная, сыр сливочный, лосось, огурец свежий...
                </div>
                <div class="product__footer">
                    <button class="btn --blue --prod">
                        <span class="btn__text">В корзину</span>
                        <svg class="btn__icon">
                            <use xlink:href="#btn-cart"></use>
                        </svg>
                    </button>
                    <span class="product__footer-price">250 ₽</span>
                </div>
            </div>
        </div>

        <!--=== Product ===-->
        <div class="product">
            <img src="assets/img/prod-4.png" alt="" class="product__img">
            <div class="product__content">
                <div class="product__title">
                    Цезарь маки хl
                </div>
                <div class="product__desc">
                    Рис, куриная грудка копченая, икра масаго, томат, айсберг, соус цезарь...
                </div>
                <div class="product__footer">
                    <button class="btn --blue --prod">
                        <span class="btn__text">В корзину</span>
                        <svg class="btn__icon">
                            <use xlink:href="#btn-cart"></use>
                        </svg>
                    </button>
                    <span class="product__footer-price">250 ₽</span>
                </div>
            </div>
        </div>

        <!--=== Product ===-->
        <div class="product">
            <img src="assets/img/prod-5.png" alt="" class="product__img">
            <div class="product__content">
                <div class="product__title">
                    Ясай маки стандарт 185 г
                </div>
                <div class="product__desc">
                    Рис, помидор свежий, перец болгарский, авокадо, огурец, айсберг
                </div>
                <div class="product__footer">
                    <button class="btn --blue --prod">
                        <span class="btn__text">В корзину</span>
                        <svg class="btn__icon">
                            <use xlink:href="#btn-cart"></use>
                        </svg>
                    </button>
                    <span class="product__footer-price">250 ₽</span>
                </div>
            </div>
        </div>

        <!--=== Product ===-->
        <div class="product">
            <img src="assets/img/prod-6.png" alt="" class="product__img">
            <div class="product__content">
                <div class="product__title">
                    Ролл с креветкой стандарт
                </div>
                <div class="product__desc">
                    Рис, водоросли нори, креветки отварные, сыр сливочный, огурцы
                </div>
                <div class="product__footer">
                    <button class="btn --blue --prod">
                        <span class="btn__text">В корзину</span>
                        <svg class="btn__icon">
                            <use xlink:href="#btn-cart"></use>
                        </svg>
                    </button>
                    <span class="product__footer-price">250 ₽</span>
                </div>
            </div>
        </div>
    </div>
</section>